@mixin justify{
    width: 100%;
    margin:2px;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
}

header{
    background-color:  lightgray;  
    nav{     
        @include justify();

        h1{
            position: absolute;
            margin-top:15px;
            left:2%;
            font-size: 15px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;    
        }

        ul{ 
            list-style: none;
            display: flex;       
            li{
                padding-right: 10px;
                a{
                    color:black;
                    text-decoration: none;
                }
            }
        }
    }
  }

  .bar{
   display: flex;
   h2{
   margin: auto;
   }

    #filters{   
        margin-bottom: 5px;
        border: none;
        //background: none;  
        &:hover{
            color:purple;
        } 
    }
  }

  .container{ 
    background-color: white;
    display: flex;
    float:left;
       
    .boxes{
     display: none;
     border:2px solid black;
     position: fixed;
     width:70%;
     height:100%;
     background-color: rgba($color: #ffffff, $alpha: 0.5);
     margin:10px;
     z-index: 2;
     right:0%;
    }

    .pictures{  
        margin-top: 10px; 
        img{
        width: 46%; 
        margin: 1%
       
        }
    }
  }

footer{
    
    @include justify(); 
    ul{
        list-style: none;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .container{
    .boxes {     
        width:50%;
        right: 0%;
     }
   } 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { // tablets
    .container{
     .boxes {     
         width:50%;
         right: 0%;
      }
    } 
    header{
        nav{
            h1{
                font-size: 15px;
            }
        }
       }
 }
 @media only screen and (min-width: 1023px){
    .container{

        .boxes {   
            position: relative;  
            width:300px;
            border:none;
         }
         .pictures{
            img{
                width:29%;
                margin:1%;
            }
         }
       } 
       header{
        nav{
            h1{
                font-size: 20px;
                margin:10px;
            }
        }
       }
 }


 
