@import 'variables';
@import 'breakpoint';

@mixin justify{
    width: 100%;
    margin:2px;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: $lightGray;
}

header{
    background-color:  $lightGray;  
    nav{     
        @include justify();

        h1{
            position: absolute;
            margin-top:15px;
            left:2%;
            font-size: 15px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;    
        }

        ul{ 
            list-style: none;
            display: flex;       
            li{
                padding-right: 10px;
                a{
                    color:black;
                    text-decoration: none;
                }
            }
        }
    }
  }

  .bar{
   display: flex;
   h2{
   margin: auto;
   }

    #filters{   
        margin-bottom: 5px;
        border: none;
        //background: none;  
        &:hover{
            color:$buttonHoverColor;
        } 
    }
  }

  .container{ 
    background-color: $white;
    display: flex;
    float:left;
       
    .boxes{
     display: none;
     border:2px solid black;
     position: absolute;
     width:70%;
     height:100%;
     background-color: rgba($color: $white, $alpha: 0.5);
     margin:10px;
     z-index: 2;
     right:0%;
    }

    .pictures{  
        margin-top: 10px; 
        display: flex;
       flex-wrap: wrap;  
      justify-content: space-between;
        
        
       figure{
        box-sizing: border-box;
        width: 46%; 
        margin: 1%;
            img{
                aspect-ratio:9/16;
                width:100%;               
            }
            figcaption{
                text-align: center;
            }
            button{
                width:100%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
                background:none;
                border: 1px solid $lightGray;
                &:hover{
                    background-color: $buttonHoverColor;
                }
            }

            
            
       } 
    }
  }

footer{
    
    @include justify(); 
    ul{
        list-style: none;
    } 
}


@include breakpoint(medium) {
    .container {
      .boxes {     
        width: 50%;
        right: 0%;
      }
    } 
    header {
      nav {
        h1 {
          font-size: 15px;
        }
      }
    }
  }
  
  @include breakpoint(large) {
    .container {
      .boxes {   
        position: relative;  
        width: 600px;
        border: none;
      }
      .pictures {
        figure {
          width: 29%;
          margin: 1%;
          box-sizing: border-box;
        } 
      }
    } 
    header {
      nav {
        h1 {
          font-size: 20px;
          margin: 10px;
        }
      }
    }
  }
